# Kelas Pagi

In [1]:
print("Hello World!")

Hello World!

In [3]:
#Single word
print("hello")
print()
print('This is also a string')

hello

This is also a string

In [4]:
s = 'New York'
print(s)
print(type(s))
print(len(s))

New York
<class 'str'>
8

## String Indexing

In [6]:
#Assign s as string
s = 'Hello World'

In [7]:
print(s)
print()
print(s[0])
print()
print(s[1])

Hello World

H

e

## String Concatenation and Repetition

In [8]:
# Concatenation (addition)
s1 = 'Hello'
s2 = "World"

print(s1+" "+s2)

Hello World

In [9]:
#retition (multiplication)
print("Hello_"* 3)
print("-"*10)

Hello_Hello_Hello_
----------

## String Slicing & Indexing

In [10]:
s = "Namaste World"

In [12]:
print(s[1])
print(s[6:11])
print(s[-5:-1])

print("Wor" in s)

a
e Wor
Worl
True

## Basic Built-in String Methods

In [13]:
s = "Hello World"

print(s.upper())
print(s.lower())

HELLO WORLD
hello world

## Print Formatting

In [14]:
name= "Einstein"
age= 22
married= True

In [16]:
print("My name is ", name, "My age is ",age,"I am Married", married)
print()
print("My name is %s, my age is %s, and it is %s that i am married" % (name,age,married))
print()
print("My name is {}, My age is {}, and it is {} that i am married".format(name,age,married))

My name is  Einstein My age is  22 I am Married True

My name is Einstein, my age is 22, and it is True that i am married

My name is Einstein, My age is 22, and it is True that i am married

## Type of Numbers

### Basic Arithmetic

In [17]:
# Addition
print(2+1)

3

In [18]:
# Subtraction
print(2-1)

1

In [19]:
# Multiplication
print(2*2)

4

In [22]:
# Division
print(3/2)

1.5

## Arithmetic Continued

In [23]:
# Powers
2**3

8

In [24]:
# order of Operating followed in Python
2+10*10+3

105

In [25]:
# can use parenthesis to specify orders
(2+10) * (10+3)

156

## Variabl Assignments

In [26]:
a = 5

In [27]:
a+a

10

In [28]:
#Ressignment
a = 10

# Check
a

10

# Kelas Sore

## Identifying Data Types

In [29]:
a = 42
b = 32.30

print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

## Lists

In [30]:
my_list = [1,2,3]

In [33]:
my_list = ['A string',23,100.232,'o']

In [34]:
len(my_list)

4

In [35]:
my_list = ['one','two','three',4,5]

l = [1,2.3,['a','b'],'New York']
l.append(3.1)
print(l)

[1, 2.3, ['a', 'b'], 'New York', 3.1]

In [36]:
l = [1,2,3]
l.extend([4,5,6])
print(l)

[1, 2, 3, 4, 5, 6]

## Slicing

In [39]:
lst = list(range(10))
print(lst)

print("elements from index 4 to 7:", lst[4:7])
print("alternate elements, starting at index 0:", lst[0::2])

print("every third element, starting at index 1:", lst[1::3])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
elements from index 4 to 7: [4, 5, 6]
alternate elements, starting at index 0: [0, 2, 4, 6, 8]
every third element, starting at index 1: [1, 4, 7]

## Dictionary

### Constucting a Dictionary

In [40]:
my_dict = {'key1':'value1','key2':'value2'}
my_dict['key2']

'value2'

In [41]:
my_dict['key1']=123
my_dict

{'key1': 123, 'key2': 'value2'}

In [42]:
# substract 123 from the value
my_dict['key1']= my_dict['key1']- 123
my_dict['key1']

0

In [43]:
#set the object equal to itself minus 123
my_dict['key1'] -= 123
my_dict['key1']

-123

In [44]:
d ={}
d['animal']= 'dog'

## Set and  Booleans

In [45]:
x=set()

x.add(1)
x

{1}

In [46]:
x.add(2)
x

{1, 2}

In [47]:
x.add(1)
x

{1, 2}

In [48]:
l = [1,1,2,2,3,4,5,6,1,1]
set(l)

{1, 2, 3, 4, 5, 6}